{% extends 'base.html' %}

{% block content%}

<div class="container mx-auto py-12">
    <div class="max-w-md mx-auto bg-white rounded-lg shadow-md overflow-hidden">
        <div class="bg-gray-100 text-gray-700 text-lg font-semibold py-3 px-6 uppercase tracking-wide">
            Subscription Payment Monthly
        </div>

        <div class="px-6 py-4">
            <div class="text-gray-700 font-bold mb-2">
                Subscription Details
            </div>
        </div>

        <div class="flex justify-between py-2 px-5" >
            <div class="text-gray-600">
                Subscription Plan:
            </div>
            <div class="text-gray-800">
                Monthly Plan
            </div>
        </div>

        <div class="flex justify-between py-2 px-5">
            <div class="text-gray-600">
                Subscription Price:
            </div>
            <div class="text-gray-800">
                &#x20B9 299/month
            </div>
        </div>

        <div class="flex justify-between py-2 px-5">
            <div class="text-gray-600">
                Subscription Period:
            </div>
            <div class="text-gray-800">
                1 Month
            </div>
        </div>

        <hr class="my-4">   

        <div class="text-gray-700 font-bold mb-2 px-5">
            Payment Information
        </div>

        <form method="POST">
            {% csrf_token %}
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-10">
                    <div>
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="first-name">Enter your Name</label>
                        <input class="border rounded-lg py-2 px-3 w-full" type="text" name="name" 
                        required>
                      </div>
                </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-10">
                    <div>
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="first-name">Enter the Amount</label>
                        <input class="border rounded-lg py-2 px-3 w-full" type="number" name="amount" required>
                    </div>
                </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-10">
                    <div>
                        <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" type="submit">Pay with RazorPay</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



{%if payment%}
<div class="text-center mx-auto">
<form action="success/" method="post">
    {% csrf_token %}
    <script
        src="https://checkout.razorpay.com/v1/checkout.js"
        data-key="rzp_test_XHGmRIczlc1NSe" // Enter the Key ID generated from the Dashboard
        data-amount="{{payment.amount}}" // Amount is in currency subunits. Hence, 29900 refers to 29900 paise
        data-currency="INR"
        data-order_id="{{payment.id}}" //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        data-buttontext="Pay with Razorpay"
        data-name="smartPark"
        data-description="1 month Subscription"
        data-image="https://example.com/your_logo.jpg"
        data-prefill.name=""
        data-prefill.email=""
        data-prefill.contact=""
        data-theme.color="#F37254"
    ></script>
    <input type="hidden" custom="Hidden Element" name="hidden">
</form>
{%endif%}
</div>
{%endblock%}