<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rentals</title>
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://horizon-tailwind-react-git-tailwind-components-horizon-ui.vercel.app/static/css/main.ad49aa9b.css" />
<script src="https://cdn.tailwindcss.com"></script>

</head>
<body style="background-image: url('{%static 'img/discover/7971.jpg' %}')";>
    <!-- navbar starts here -->
{% include "components/navbar.html" %}
<!-- navbar ends here --> 



    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto flex flex-wrap">
          <div class="flex flex-wrap -m-4">
            <div class="p-4 lg:w-1/2 md:w-full">
              <div class="flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col">
                <div class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center  text-indigo-500 flex-shrink-0">
                  <!-- <svg fill="none" stroke="red"  stroke-width="2" class="w-8 h-8" viewBox="0 0 24 24">  -->
                    <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                  </svg>
                </div>
                <div class="flex-grow">
                  <h2 class="text-[white] text-lg title-font font-medium mb-3">A M C HUB 24x7 ONLINE (ALMISBAH CAR RENTAL)</h2>
                  <p class="leading-relaxed text-base text-[white]">HOTEL BLUESTAR COMPLEX, Falnir Road opposite MOTHI MAHAL, Mother Theresa Rd, Mangaluru, Karnataka 575001 <br>
                    09980313017
                  </p>
                  
                  </a>
                </div>
              </div>
            </div>
            <div class="p-4 lg:w-1/2 md:w-full">
              <div class="flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col">
                <div class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center  text-indigo-500 flex-shrink-0">
                  <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24"> -->
                    <!-- <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path> -->
                    <!-- <circle cx="12" cy="7" r="4"></circle> -->
                  <!-- </svg> -->
                </div>
                <div class="flex-grow">
                  <h2 class="text-[white] text-lg title-font font-medium mb-3">RM Car Rentals (OPC) Private Limited.</h2>
                  <p class="leading-relaxed text-base text-[white]"> # 9, "VENTURA" RM Corporation Bejai-KPT Main, Road, Bejai, Mangaluru, Karnataka 575004 <br>
                    09740097300
                </p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>



<!-- 3,4 -->

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="flex flex-wrap -m-4">
        <div class="p-4 lg:w-1/2 md:w-full">
          <div class="flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col">
            <div class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center  text-indigo-500 flex-shrink-0">
              <!-- <svg fill="none" stroke="red"  stroke-width="2" class="w-8 h-8" viewBox="0 0 24 24">  -->
                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
              </svg>
            </div>
            <div class="flex-grow">
              <h2 class="text-[white] text-lg title-font font-medium mb-3">Mangalore car rental and bikes rental</h2>
              <p class="leading-relaxed text-base text-[white]">HOTEL BLUESTAR COMPLEX, Falnir Road opposite MOTHI MAHAL, Mother Theresa Rd, Mangaluru, Karnataka 575001 <br>
                07975414896
              </p>
              
              </a>
            </div>
          </div>
        </div>
        <div class="p-4 lg:w-1/2 md:w-full">
          <div class="flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col">
            <div class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center  text-indigo-500 flex-shrink-0">
              <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24"> -->
                <!-- <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path> -->
                <!-- <circle cx="12" cy="7" r="4"></circle> -->
              <!-- </svg> -->
            </div>
            <div class="flex-grow">
              <h2 class="text-[white] text-lg title-font font-medium mb-3">Jeevika Cars and Bike rentals</h2>
              <p class="leading-relaxed text-base text-[white]"> Saptagiri Near Hotel, Kavoor, Mangaluru, Karnataka 575015 <br>
                08073820583
            </p>
            <br>
        
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



</body>
</html>