<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <!-- Include Tailwind CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.1.1/tailwind.min.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-white-100">
    {% include "components/navbar.html" %}
    <!-- Main Content -->
    <div class="container mx-auto px-4 py-8">
      <div class="grid grid-cols-12 gap-6">
        
        <div class="col-span-9">
          <div class="bg-white shadow rounded-lg px-6 py-8">
            <!-- Submenu -->
            <nav class="mb-8">
              <ol class="list-none p-0 inline-flex">
                <li class="flex items-center">
                  <a href="#" class="text-indigo-600 font-bold">Profile</a>
                </li>
                <li>
                  <span class="text-gray-600 font-bold ">/ Change Profile Picture</span>
                </li>
              </ol>
            </nav>
            <!-- Profile Content -->
            <div class="bg-white shadow rounded-lg px-6 py-8">
              <form method="POST" action="/postprofilepic/">
                {% csrf_token %}
                <div class="mb-4">
                  <div class="mb-4">
                    <label for="photo" class="block text-gray-700 font-bold mb-2">Profile Photo</label>
                    <input id="file" type="file" name="file[]" class="appearance-none border rounded w-full py-2 px-3 text-[black] leading-tight focus:outline-none focus:shadow-outline">
                    <input type="hidden" name="url" id="url">
                  </div>
                  <button type="button" onClick="uploadimage(event)">Update Profile</button><br><br><br>
                  <input type="submit" value="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                </div>
              </form>
            </div>
          </div>
        </div>

        <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-storage.js"></script>
        <script>
          var config = {
            'apiKey': "AIzaSyBl-5DPtTBMXwC6eOxDP1K19wLSANBhkeg",
            'authDomain': "smartpark-380e6.firebaseapp.com",
            'projectId': "smartpark-380e6",
            'storageBucket': "smartpark-380e6.appspot.com",
            'messagingSenderId': "986213369518",
            'appId': "1:986213369518:web:6170bf0b8ad076e482cf3f",
            'measurementId': "G-LY5T3CR6CN",
            'databaseURL': "https://smartpark-380e6-default-rtdb.firebaseio.com/",
            'serviceAccount': "./smartpark/firebase-admin-sdk.json"
          };
        
          firebase.initializeApp(config);
        
          function uploadimage(event){
            event.preventDefault();
            var storageRef = firebase.storage().ref();
            var file = document.getElementById("file").files[0];
            var thisRef = storageRef.child(file.name).put(file);
            thisRef.on('state_changed', function(snapshot){
              console.log('file upload in progress');
            },
            function(error){
              console.log('error', error);
            },
            function(){
              console.log('file upload complete');
              //var downloadURL = thisRef.snapshot.downloadURL
              thisRef.snapshot.ref.getDownloadURL().then(function(downloadURL) {
                //console.log("got url" + downloadURL)
                console.log("got url: " + downloadURL);
                document.getElementById('url').value = downloadURL;
                alert("file uploaded successfully");
              });
            });
          }
        </script>
</body>
</html>

        