<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mechanic</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body style="background-image: url('{%static 'img/mech/7971.jpg' %}');">
     <!-- navbar starts here -->
     {% include "components/navbar.html" %}
     <!-- navbar ends here --> 
    <section class="text-[white]  body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-red-600">Best Mechanics Around you in Mangalore!</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">We have collected Genuine data from various shops around Mangalore for a great experience.</p>
          </div>
          <div class="flex flex-wrap -m-2">
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="{%static 'img/mech/repair.png' %}">
                <div class="flex-grow">
                  <h2 class="text-[white] title-font font-medium">Mangala Auto Works</h2>
                  <p class="text-gray-500">9964071634</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="{%static 'img/mech/repair.png' %}">
                <div class="flex-grow">
                  <h2 class="text-[white] title-font font-medium">Sri Durga Auto Works</h2>
                  <p class="text-gray-500">9980880672</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="{%static 'img/mech/repair.png' %}">
                <div class="flex-grow">
                  <h2 class="text-[white] title-font font-medium">Swagath Auto Works</h2>
                  <p class="text-gray-500">9964243031</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="{%static 'img/mech/repair.png' %}">
                <div class="flex-grow">
                  <h2 class="text-[white] title-font font-medium">Baba Auto Works</h2>
                  <p class="text-gray-500">9845900657</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="{%static 'img/mech/repair.png' %}">
                <div class="flex-grow">
                  <h2 class="text-[white] title-font font-medium">B.N. Auto Tech</h2>
                  <p class="text-gray-500">9845609972</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="{%static 'img/mech/repair.png' %}">
                <div class="flex-grow">
                  <h2 class="text-[white] title-font font-medium">Sri Ram Garage</h2>
                  <p class="text-gray-500">8310273942</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="{%static 'img/mech/repair.png' %}">
                <div class="flex-grow">
                  <h2 class="text-[white] title-font font-medium">Modern Auto Tech</h2>
                  <p class="text-gray-500">9886593799</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="{%static 'img/mech/repair.png' %}">
                <div class="flex-grow">
                  <h2 class="text-[white] title-font font-medium">Shree Durga Padma Auto Works</h2>
                  <p class="text-gray-500">9845291626</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="{%static 'img/mech/repair.png' %}">
                <div class="flex-grow">
                  <h2 class="text-[white] title-font font-medium">Chandra Auto Works</h2>
                  <p class="text-gray-500">9845081922</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <section class="text-gray-400 bg-gray-900 body-font">
          <div class="container px-5 py-24 mx-auto">
            <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
              <h1 class="flex-grow sm:pr-16 text-2xl font-medium title-font text-white">Get your vehicle Insured to get saved from huge losses !!</h1>
              <a href="https://www.acko.com/?utm_adgroup=Acko_Insurance&utm_network=g&utm_matchtype=e&utm_device=c&utm_placement=&utm_Adposition=&utm_location=9147861&utm_Sitelink=&utm_Audience=kwd-406468707960&utm_Promotion=&utm_Price=" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-red-600 dark:hover:bg-[black] dark:focus:ring-blue-800">
                Buy Now
                <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>    
            </div>
          </div>
        </section>
      </section>
</body>
</html>