<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- Navbar starts here -->
    {% include "components/navbar.html" %}
    <!-- Navbar ends here -->

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      {% for item in data %}
      <div class="bg-gray-200 rounded-lg shadow-md md:px-4 md:py-2
                  {% if item.status == 'Occupied' %}
                    bg-red-500
                  {% else %}
                    bg-green-500
                  {% endif %}">
        <h2 class="text-xl font-medium mb-2">{{ item.slot }}</h2>
        <p class="text-gray-700">Location: 123 Main St.</p>
        <p class="text-gray-700">Status: {{ item.status }}</p>
      </div>
      {% endfor %}
    </div>

    <script>
      setInterval(function() {
        location.reload();
      }, 3000);
    </script>
  </body>
</html>
