<!DOCTYPE html>
<html>

<head>
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <!-- navbar starts here -->
    {% include "components/navbar.html" %}
    <!-- navbar ends here -->
    <!-- component -->
    <div class="bg-gray-200 min-h-screen pt-2 font-mono my-16">
        <div class="container mx-auto">
            <div class="inputs w-full max-w-2xl p-6 mx-auto">
                <h2 class="text-2xl text-gray-900">Account Setting</h2>
                <div class="mt-6 border-t border-gray-400 pt-4">
                    {% csrf_token %}
                    <div class='flex flex-wrap -mx-3 mb-6'>
                        <div class='w-full md:w-full px-3 mb-6'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'
                                for='grid-text-1'>email address</label>
                            <input
                                class='appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500'
                                id='grid-text-1' type='text' placeholder='{{e}}' readonly>
                        </div>
                        <div class='w-full md:w-full px-3 mb-6'>
                            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'>state</label>
                            <div class="flex-shrink w-full inline-block relative">
                                <input
                                class='appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500'
                                id='grid-text-1' type='text' placeholder='{{state}}' readonly>
                            </div>
                        </div>
                        </div>
                        <div class="personal w-full border-t border-gray-400 pt-4">
                            <h2 class="text-2xl text-gray-900">Personal info:</h2>
                            <div class="flex items-center justify-between mt-4">
                                <div class='w-full md:w-1/2 px-3 mb-6'>
                                    <label
                                        class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'>first
                                        name</label>
                                    <input
                                        class='appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500'
                                        type='text' id="fname" name="fname" placeholder='{{fname}}' readonly>
                                </div>
                                <div class='w-full md:w-1/2 px-3 mb-6'>
                                    <label
                                        class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'>last
                                        name</label>
                                    <input
                                        class='appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500'
                                        type='text' name="lname" id="lname" placeholder='{{lname}}' readonly>
                                </div>
                            </div>
							<div class='w-full md:w-1/2 px-3 mb-6'>
								<label
									class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'>Username</label>
								<input
									class='appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500'
									type='text' id="fname" name="fname" placeholder='{{uname}}' readonly>
							</div>
                            <div class='w-full md:w-1/2 px-3 mb-6'>
								<label
									class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'>Phone Number</label>
								<input
									class='appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500'
									type='text' id="fname" name="fname" placeholder='{{pno}}' readonly>
							</div>
							<div class='w-full md:w-full px-3 mb-6'>
                                <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'>Address</label>
                                <input
                                    class='appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500'
                                    type='text' placeholder='{{add}}' readonly>
                            </div>
							<div class='w-full md:w-1/2 px-3 mb-6'>
								<label
									class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'>City</label>
								<input
									class='appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500'
									type='text' id="fname" name="fname" placeholder='{{city}}' readonly>
							</div>
							<div class='w-full md:w-1/2 px-3 mb-6'>
								<label
									class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'>Postal Code</label>
								<input
									class='appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500'
									type='text' id="fname" name="fname" placeholder='{{zip}}' readonly>
							</div>
                            <div class="personal w-full border-t border-gray-400 pt-4">
                                <h2 class="text-2xl text-gray-900">Vehicel info:</h2>
                        </div>
                        <div class="flex items-center justify-between mt-4">
                            <div class='w-full md:w-1/2 px-3 mb-6'>
                                <label
                                    class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'>Vehicle Number</label>
                                <input
                                    class='appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500'
                                    type='text' id="vno" name="vno" placeholder='{{vno}}' readonly>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>