<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tips</title>
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://horizon-tailwind-react-git-tailwind-components-horizon-ui.vercel.app/static/css/main.ad49aa9b.css" />
<script src="https://cdn.tailwindcss.com"></script>

</head>
<body style="background-image: url('{%static 'img/tips/7971.jpg' %}')";>
    <!-- navbar starts here -->
    {% include "components/navbar.html" %}
    <!-- navbar ends here --> 
    <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">
          <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <img alt="car" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="{%static 'img/tips/carr1.png' %}">
            <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
              <h1 class="text-[white] text-3xl title-font font-medium mb-1">1. Determine your budget</h1>
              <div class="flex mb-4">
                
                </span>
              </div>
              <p class="leading-relaxed text-[white] text-2xl"> Before you start looking at cars, establish a budget that you're comfortable with. Consider not just the upfront cost of the car but also ongoing expenses like insurance, fuel, maintenance, and financing..</p>
              <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">
                
                
                    </span>
                  </div>
                </div>
              </div>
              
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">
          <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
              <!-- <h2 class="text-sm title-font text-gray-500 tracking-widest">BRAND NAME</h2> -->
              <h1 class="text-[white] text-3xl title-font font-medium mb-4">2. Research and compare:</h1>
              
              <p class="leading-relaxed mb-4 text-[white] text-2xl">Explore different car models and makes that suit your needs and preferences. Look for features, safety ratings, fuel efficiency, reliability, and resale value. Use online resources, car magazines, and customer reviews to gather information and compare options.</p>
              
             
              
            </div>
            <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="{%static 'img/tips/research.png' %}">
          </div>
        </div>
      </section>


      <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">
          <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <img alt="car" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="{%static 'img/tips/prior.png' %}">
            <br>
            <br>
            <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                <br>
                <br>
                <br>
              <h1 class="text-[white] text-3xl title-font font-medium mb-1">3. Set your priorities</h1>
              <div class="flex mb-4">
                
                </span>
              </div>
              <p class="leading-relaxed text-[white] text-2xl"> Identify the features and specifications that matter most to you. Do you need a spacious interior, good fuel economy, advanced safety features, or a particular brand? Having a clear idea of your priorities will help narrow down your choices.</p>
              <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">
                
                
                    </span>
                  </div>
                </div>
              </div>
              
              </div>
            </div>
          </div>
        </div>
      </section>



      <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">
          <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
              <!-- <h2 class="text-sm title-font text-gray-500 tracking-widest">BRAND NAME</h2> -->
              <br>
              <br>
              <br>
              <br>
              <h1 class="text-[white] text-3xl title-font font-medium mb-4">4. Consider your lifestyle</h1>
              
              <p class="leading-relaxed mb-4 text-[white] text-2xl">Think about your daily driving habits, such as the type of roads you'll be driving on, parking availability, and the number of passengers or cargo you'll typically carry. This will help determine the appropriate size, type, and functionality of the car. </p>
              
             
              
            </div>
            <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="{%static 'img/tips/life.png' %}">
          </div>
        </div>
      </section>


      <!-- 5 -->

      <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">
          <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <img alt="car" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="{%static 'img/tips/testd.png' %}">
            <br>
            <br>
            <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                <br>
                <br>
                <br>
              <h1 class="text-[white] text-3xl title-font font-medium mb-1">5. Test drive</h1>
              <div class="flex mb-4">
                
                </span>
              </div>
              <p class="leading-relaxed text-[white] text-2xl"> Schedule test drives with multiple dealerships and thoroughly evaluate the cars you're interested in. Pay attention to the handling, comfort, visibility, braking, and any specific features you value. Take your time to get a feel for the vehicle before making a decision.</p>
              <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">
                
                
                    </span>
                  </div>
                </div>
              </div>
              
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- 6 -->

      <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">
          <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
              <!-- <h2 class="text-sm title-font text-gray-500 tracking-widest">BRAND NAME</h2> -->
              <br>
              <br>
              <br>
              <br>
              <h1 class="text-[white] text-3xl title-font font-medium mb-4">6. Explore financing options</h1>
              
              <p class="leading-relaxed mb-4 text-[white] text-2xl"> If you're planning to finance the car, compare loan rates from different banks or credit unions. Consider factors like interest rates, loan terms, and monthly payments. It's advisable to get pre-approved for a loan to know your budget and have more negotiating power.</p>
              
             
              
            </div>
            <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="{%static 'img/tips/finance.png' %}">
          </div>
        </div>
      </section>


      <!-- 7 -->

      <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">
          <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <img alt="car" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="{%static 'img/tips/negoti.png' %}">
            <br>
            <br>
            <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                <br>
                <br>
                <br>
              <h1 class="text-[white] text-3xl title-font font-medium mb-1">7. Negotiate the price</h1>
              <div class="flex mb-4">
                
                </span>
              </div>
              <p class="leading-relaxed text-[white] text-2xl"> Research the average price range for the car model you want and be prepared to negotiate with the dealer. Look for manufacturer incentives, discounts, or promotions that could help you get a better deal. Don't be afraid to walk away if the price doesn't meet your expectations.</p>
              <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">
                
                
                    </span>
                  </div>
                </div>
              </div>
              
              </div>
            </div>
          </div>
        </div>
      </section>



<!-- 8 -->

<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          <!-- <h2 class="text-sm title-font text-gray-500 tracking-widest">BRAND NAME</h2> -->
          <br>
          <br>
          <br>
          <br>
          <h1 class="text-[white] text-3xl title-font font-medium mb-4">8. Understand additional costs</h1>
          
          <p class="leading-relaxed mb-4 text-[white] text-2xl"> Remember that buying a car involves more than just the purchase price. Account for additional costs like sales tax, registration fees, extended warranties, and optional extras. Factor these into your budget to get a clearer picture of the total cost of ownership.</p>
          
         
          
        </div>
        <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="{%static 'img/tips/cost.png' %}">
      </div>
    </div>
  </section>


  <!-- 9 -->


  <section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <img alt="car" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="{%static 'img/tips/warrant.png' %}">
        <br>
        <br>
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
            <br>
            <br>
            <br>
          <h1 class="text-[white] text-3xl title-font font-medium mb-1">9. Check the warranty and maintenance</h1>
          <div class="flex mb-4">
            
            </span>
          </div>
          <p class="leading-relaxed text-[white] text-2xl"> Review the warranty coverage offered by the manufacturer and understand its duration and limitations. Also, inquire about the recommended maintenance schedule and associated costs. Consider if there are nearby authorized service centers for the brand.</p>
          <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">
            
            
                </span>
              </div>
            </div>
          </div>
          
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- 10 -->


  <section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          <!-- <h2 class="text-sm title-font text-gray-500 tracking-widest">BRAND NAME</h2> -->
          <br>
          <br>
          <br>
          <br>
          <h1 class="text-[white] text-3xl title-font font-medium mb-4">10. Consider resale value</h1>
          
          <p class="leading-relaxed mb-4 text-[white] text-2xl">While it may not be a primary concern when buying a new car, it's worth considering the anticipated resale value. Some car brands and models tend to retain their value better over time, which can be advantageous if you plan to sell or trade-in your car in the future.</p>
          
         
          
        </div>
        <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="{%static 'img/tips/finance.png' %}">
      </div>
    </div>
  </section>



</body>
</html>