

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/643145a04247f20fefea8315/1gtg7fvcg';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
  
  
    <script type="text/javascript">
    const options = {
      method: 'GET',
      headers: {
        'X-RapidAPI-Key': '21f9fa797bmshfe48e8d0a488041p1ed47djsn716bebc75297',
        'X-RapidAPI-Host': 'daily-petrol-diesel-lpg-cng-fuel-prices-in-india.p.rapidapi.com'
      }
    };
  </script>
